@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.centering{
    margin-top: 5vh;
}
    
ul{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
    color: #7AC5E5;
    list-style-type: none;
}

#nav ul li a:hover{
    transition: 0.6s ease;
    color: #345563;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 14px
}

#nav ul li a{
    color: 7AC5E5
}

.boldname{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 14px
}

.icon:hover{
    transition: 0.4s ease;
    border-right: 10vh solid #7AC5E5;
    border-left: 10vh solid #7AC5E5
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 100;
    color: grey;
    left: auto 50%;
    margin-right: auto -50%;
    width: 30em;  
}

.profile{
    border-color: #7AC5E5;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #7AC5E5;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-align: center;
}

h2:hover{
    transition: 0.4s ease-in-out;
    color: black;
    font-size: 23px;
}

