@import url('https://fonts.googleapis.com/css?family=Asap');

.centering{
    margin-top: 5vh;
}

ul{
    margin: 0;
    padding: 0;
    font-family: 'Asap', serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 4px;
    text-align: center;
    color: #7AC5E5;
    list-style-type: none;
}

#nav ul li a:hover{
    transition: 0.6s ease;
    color: #345563;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 4px
}

#nav ul li a{
    color: 7AC5E5
}

.clickbold{
    color: #345563;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 4px;
}

.boldname{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 4px;
}

.icon:hover{
    transition: 0.4s ease;
    border-right: 15vh solid #7AC5E5;
    border-left: 15vh solid #7AC5E5
}

.icon1{
    width:200px;
    height: 200px;
    margin: 25px;
    float: center;
    border: solid #7AC5E5;
    border-right: 10px solid #7AC5E5;
    border-left: 10px solid #7AC5E5;
    border-top: 10px solid #7AC5E5;
    border-bottom: 10px solid #7AC5E5;
}

.icon1:hover{
    transition: 0.6s;
    border: solid #7AC5E5
}

h1{
    font-family: 'Asap', serif;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}

.paragraph{
    font-family: 'Asap', serif;
    font-size: 16px;
    left: auto 50%;
    margin-right: auto -50%;
    width: 50em;
}

.images{
    border: solid #7AC5E5 3px;
    margin: auto;
    width: 50em;
}

.images img{
    width:100%
}

h2{
    font-family: 'Asap', serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.personal {
    margin: auto;
}

.pictitle {
    font-family: 'Asap', serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 900;
}

.picdesc {
    font-family: 'Asap', serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #7AC5E5;
    color: white;
    cursor: pointer;
    padding: 18px;
    font-size: 15px;
}

#myBtn:hover {
    transition: 0.4s ease;
    background-color: #345563;
}

footer{
    display: block;
    font-family: 'Asap', serif;
    font-size: 14px;
    text-align: center;
    bottom: 10px;
    color: darkgrey;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -20px 0 0 -20px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #7AC5E5;
    border-bottom: 5px solid #7AC5E5;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#loadanim {
    display: none;
    text-align: center;
}
